<h3>Total results: <%= @foods.count %></h3>
<% @foods.each do |food| %>
	<h2><%= food.name %></h2>
	<p><%= food.description %></p>
	<p><%= park.brand %></p>
	<p>Ingredients:</p>
	<% food.ingredients.each do |ingredient| %>
		<p><%= ingredient %></p>
	<% end %>
<% end %>