<h3>Results: <%= @foods.count %></h3>
<% @foods.each do |food| %>
	<section class="food">
		<h2 class="description"><%= food.description %></h2>
		<p class="brand"><%= food.brand %></p>
		<p class="ingredients">Ingredients: <%= food.ingredients %></p>
		<p class="code"><%= food.code %></p>
	</section>
<% end %>